@import url('./public/base.css');
@import url('./public/components.css');
@import url('./public/detail.css');
@import url('./public/directory.css');
@import url('./public/map.css');
@import url('./public/rating.css');
@import url('./public/utama.css');
@import url('./public/listwisata.css');
@import url('./public/koleksi.css');